.may-header {
  padding: 0 5px;
  width: 99%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 50px;
  }

  &-links-wrapper {
    display: flex;

    &-link {
      margin: 0 100px;
    }
  }
}